@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.custom-select {
  appearance: none; /* Remove default arrow */
  background-color: white;
  border: 1px solid #d1d5db; /* Tailwind gray-300 */
  border-radius: 0.375rem; /* Tailwind rounded-md */
  padding: 0.5rem 1rem; /* Tailwind p-2 px-4 */
  width: 100%;
  background-image: url('data:image/svg+xml;utf8,<svg fill="none" height="24" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><polyline points="6 9 12 15 18 9"/></svg>'); /* Custom down arrow */
  background-repeat: no-repeat;
  background-position: right 0.75rem center;
  background-size: 1.5em;
}

.row1{
  border-top-left-radius: 8px; /* Example rounded corners */
  border-top-right-radius: 8px; /* Example rounded corners */
}

.row2{
    border-bottom-left-radius: 8px; /* Example rounded corners */
    border-bottom-right-radius: 8px; /* Example rounded corners */
}

/* .main-container {
  margin-left: 240px;
  margin-right: 240px;
} */

.img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; /* Ensure the container takes up full height */
}

.img-container img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain; /* Maintain aspect ratio */
  pointer-events: none;
  user-select: none; 
}

.upload-container {
  height: 33rem;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
